<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TAYLOR</key>
	<dict>
		<key>service</key>
		<string>CDF98BD6-DD14-4B74-9AC2-4F686A3C60A8</string>
		<key>sender</key>
		<string>CDF98BD7-DD14-4B74-9AC2-4F686A3C60A8</string>
		<key>receiver</key>
		<string>CDF98BD8-DD14-4B74-9AC2-4F686A3C60A8</string>
		<key>message</key>
		<dict>
			<key>0</key>
			<dict>
				<key>call</key>
				<integer>7</integer>
				<key>sms</key>
				<integer>5</integer>
				<key>email</key>
				<integer>12</integer>
				<key>qq</key>
				<integer>6</integer>
				<key>wechat</key>
				<integer>1</integer>
				<key>facebook</key>
				<integer>4</integer>
				<key>messenger</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>call</key>
				<integer>0</integer>
				<key>sms</key>
				<integer>1</integer>
				<key>email</key>
				<integer>2</integer>
				<key>qq</key>
				<integer>3</integer>
				<key>wechat</key>
				<integer>4</integer>
				<key>facebook</key>
				<integer>5</integer>
				<key>messenger</key>
				<integer>6</integer>
				<key>line</key>
				<integer>7</integer>
				<key>skype</key>
				<integer>8</integer>
				<key>twitter</key>
				<integer>9</integer>
				<key>whatsapp</key>
				<integer>10</integer>
				<key>calendar</key>
				<integer>11</integer>
				<key>linkedin</key>
				<integer>12</integer>
			</dict>
		</dict>
	</dict>
	<key>FOXTER</key>
	<dict>
		<key>service</key>
		<string>F638751C-E6D6-4F18-8316-35FFFA696365</string>
		<key>sender</key>
		<string>F638751D-E6D6-4F18-8316-35FFFA696365</string>
		<key>receiver</key>
		<string>F638751E-E6D6-4F18-8316-35FFFA696365</string>
		<key>message</key>
		<dict>
			<key>0</key>
			<dict>
				<key>call</key>
				<integer>0</integer>
				<key>sms</key>
				<integer>1</integer>
				<key>email</key>
				<integer>2</integer>
				<key>facebook</key>
				<integer>5</integer>
				<key>skype</key>
				<integer>8</integer>
				<key>twitter</key>
				<integer>9</integer>
				<key>whatsapp</key>
				<integer>10</integer>
				<key>linkedin</key>
				<integer>12</integer>
			</dict>
		</dict>
	</dict>
	<key>SEAGULL</key>
	<dict>
		<key>service</key>
		<string>55994E2D-A09E-4F52-BD77-BDEA1D176DCE</string>
		<key>sender</key>
		<string>55994E2E-A09E-4F52-BD77-BDEA1D176DCE</string>
		<key>receiver</key>
		<string>55994E2F-A09E-4F52-BD77-BDEA1D176DCE</string>
		<key>message</key>
		<dict>
			<key>0</key>
			<dict>
				<key>call</key>
				<integer>0</integer>
				<key>sms</key>
				<integer>1</integer>
				<key>email</key>
				<integer>2</integer>
				<key>qq</key>
				<integer>3</integer>
				<key>wechat</key>
				<integer>4</integer>
				<key>facebook</key>
				<integer>5</integer>
				<key>messenger</key>
				<integer>6</integer>
				<key>line</key>
				<integer>7</integer>
				<key>skype</key>
				<integer>8</integer>
				<key>twitter</key>
				<integer>9</integer>
				<key>whatsapp</key>
				<integer>10</integer>
				<key>calendar</key>
				<integer>11</integer>
				<key>linkedin</key>
				<integer>12</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
