<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>0</integer>
	<key>baseUrl</key>
	<dict>
		<key>prod</key>
		<string>http://taylorapi.ddns.net</string>
		<key>dev</key>
		<string>http://taylorapi.ddns.net</string>
	</dict>
	<key>login</key>
	<string>/api/login</string>
	<key>logout</key>
	<string>/api/logout</string>
	<key>put_user</key>
	<string>/api/user</string>
	<key>get_user</key>
	<string>/api/user/me</string>
	<key>post_user</key>
	<string>/api/user</string>
	<key>put_device</key>
	<string>/api/device</string>
	<key>get_devices</key>
	<string>/api/device</string>
	<key>get_device</key>
	<string>/api/device/$id</string>
	<key>post_device</key>
	<string>/api/device/$id</string>
	<key>delete_device</key>
	<string>/api/device/$id</string>
	<key>put_step</key>
	<string>/api/step/$id</string>
	<key>post_step</key>
	<string>/api/step/$id</string>
</dict>
</plist>
